<h1>Admin Homepage</h1>
<p>See administrator options below.</p>

<!--Edit Profile-->
<%= link_to "Edit Profile", edit_profile_admins_path %>
<p>
<!-- Events Button -->
<%= link_to "Events List", events_path %>
<p>
<!-- Rooms Button -->
<%= link_to "Rooms", rooms_path %>
<p>
Reviews
<p>
Attendees
<p>
Tickets
<p>
