<h1>Admin Homepage</h1>
<p>See administrator options below.</p>

<!--Edit Profile-->
<%= link_to "Edit this admin", edit %>

<!-- Events Button -->
<%= link_to "Events List", events_path %>

Reviews

Attendees

Tickets

Rooms