<h1>Search Results</h1>
puts "Search attendees hit"

<%# if @attendees.any? %>
<!--  <ul>-->
    <%# @attendees.each do |attendee| %>
<!--      <li><%#= attendee.name %> - <%#= attendee.email %></li>-->
    <%# end %>
<!--  </ul>-->
<%# else %>
<!--  <p>No attendees found for this event.</p>-->
<%# end %>
