<p style="color: green"><%= notice %></p>

<h1>Event tickets</h1>

<%= link_to "New ticket for attendee", new_event_ticket_path %>

<div id="event_tickets">
  <% @event_tickets.each do |event_ticket| %>
    <%= render event_ticket %>
    <p>
      <%= link_to "Show this event ticket", event_ticket %>
    </p>
    <br>
  <% end %>
</div>


