<h1>Welcome to Wolf Events</h1>

<%= link_to 'Login as an Admin', new_admin_session_path%>
<br>
<%= link_to 'Login as an Attendee', new_attendee_session_path%> <%= link_to 'Sign up as a new Attendee', new_attendee_path %>