<h1>Welcome to Wolf Events</h1>

<br>
<%= link_to 'Attendee login', new_attendee_session_path%>
<br>
<%= link_to 'Not yet an attendee?', new_attendee_path %>

<br>
<br>
<%= link_to 'Login as an Admin', new_admin_session_path%>