<h1>New review</h1>

<!--<p style="font-style: italic;">-->
<!--  If admin writing review for self, leave attendee field blank.-->
<!--</p>-->

<%= render "form", review: @review %>

<br>

<div>
  <%= link_to "Back to reviews", reviews_path %>
</div>
